<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans:wght@700&family=Montserrat:wght@700&family=Lato:wght@700&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #f7f7f0; ">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0F172A; font-weight: bold; font-size: 20px; ">
        <div class="container">
            <a href="@Url.Action("Login", "Account")" class="navbar-brand" style="color: white; display: flex; align-items: center;">
                <img src="~/Content/logoimg.png" style="height: 70px; margin-right: 8px;" />
                Yıldızlar Üniversitesi
            </a>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Yıldızlar Üniversitesi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>